section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-card{
    background-color: var(--blue);
    border-radius: var( --border-radius);
    padding: 40px 20px;
}
img{
   
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
   padding: 5px;
}

h3{
    color: white;
    font-size: 25px;
    
}
span{
    font-size: 30px;
}
.back-btn{
    background-color: white;
    border: white 1px solid;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 20px;
    color:var(--blue) ;
    transition: all .5s;
}
.back-btn:hover{
    background-color: rgb(116, 167, 220);
    color:white ;
    
}
.back-btn:active{
   transform: scale(.9);  
}